In [45]:
#필요한 데이터셋 다운로드
import seaborn as sns
import pandas as pd
tt=sns.load_dataset('titanic')

**sort**
*   `sort_values(col) `
*   디폴트는 오름차순 정렬
*   null은 맨 마지막

In [46]:
#나이를 기준으로 정렬
#디폴트: 오름차순
#ascending을 사용하여 내림차순으로 변경
tt.sort_values('age', ascending=False)
#tt.sort_values('age', descending=True) 이건 불가능

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
630,1,1,male,80.0,0,0,30.0000,S,First,man,True,A,Southampton,yes,True
851,0,3,male,74.0,0,0,7.7750,S,Third,man,True,NaN,Southampton,no,True
493,0,1,male,71.0,0,0,49.5042,C,First,man,True,NaN,Cherbourg,no,True
96,0,1,male,71.0,0,0,34.6542,C,First,man,True,A,Cherbourg,no,True
116,0,3,male,70.5,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,0,3,male,NaN,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
863,0,3,female,NaN,8,2,69.5500,S,Third,woman,False,NaN,Southampton,no,False
868,0,3,male,NaN,0,0,9.5000,S,Third,man,True,NaN,Southampton,no,True
878,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False

In [47]:
#두개의 컬럼으로 sorting 하기
#class로 먼저 분리되고 같은 class 중에서 age순으로 정렬됨
tt.sort_values(['class', 'age'], ascending=[False, True]).head(20)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
803,1,3,male,0.42,0,1,8.5167,C,Third,child,False,NaN,Cherbourg,yes,False
469,1,3,female,0.75,2,1,19.2583,C,Third,child,False,NaN,Cherbourg,yes,False
644,1,3,female,0.75,2,1,19.2583,C,Third,child,False,NaN,Cherbourg,yes,False
164,0,3,male,1.00,4,1,39.6875,S,Third,child,False,NaN,Southampton,no,False
172,1,3,female,1.00,1,1,11.1333,S,Third,child,False,NaN,Southampton,yes,False
381,1,3,female,1.00,0,2,15.7417,C,Third,child,False,NaN,Cherbourg,yes,False
386,0,3,male,1.00,5,2,46.9000,S,Third,child,False,NaN,Southampton,no,False
788,1,3,male,1.00,1,2,20.5750,S,Third,child,False,NaN,Southampton,yes,False
7,0,3,male,2.00,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
16,0,3,male,2.00,4,1,29.1250,Q,Third,child,False,NaN,Queenstown,no,False
119,0,3,female,2.00,4,2,31.2750,S,Third,child,False,NaN,Southampton,no,False
205,0,3,female,2.00,0,1,10.4625,S,Third,child,False,G,Southampton,no,False
479,1,3,female,2.00,0,1,12.2875,S,Third,child,False,NaN,Southampton,yes,False
642,0,3,female,2.00,3,2,27.9000,S,Third,child,False,NaN,Southampton,no,False
824,0,3,male,2.00,4,1,39.6875,S,Third,child,False,NaN,Southampton,no,False
261,1,3,male,3.00,4,2,31.3875,S,Third,child,False,NaN,Southampton,yes,False
348,1,3,male,3.00,1,1,15.9000,S,Third,child,False,NaN,Southampton,yes,False
374,0,3,female,3.00,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
10,1,3,female,4.00,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False
63,0,3,male,4.00,3,2,27.9000,S,Third,child,False,NaN,Southampton,no,False

**파생변수 만들기**

In [48]:
tt['sex_oneshot']=0 #새로운 컬럼 생성 후 0으로 초기화
#남성이면 0, 여성이면 1로
for i in range(len(tt)):
    if tt.sex.loc[i]=="male":
        tt['sex_oneshot'].loc[i]=0
    elif tt.sex.loc[i]=="female":
        tt['sex_oneshot'].loc[i]=1

<ipython-input-48-08b070182c35>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tt['sex_oneshot'].loc[i]=0
<ipython-input-48-08b070182c35>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tt['sex_oneshot'].loc[i]=1

In [49]:
print(tt.sex_oneshot.value_counts())
print("==================")
print(tt.sex.value_counts())

0    577
1    314
Name: sex_oneshot, dtype: int64
==================
male      577
female    314
Name: sex, dtype: int64

In [50]:
tt['fare_100']=tt['fare']+100  #연산 후 데이터를 바로 넣어서 파생변수를 만들 수도 있

In [51]:
import numpy as np #넘파이의 np.where 함수 사용

**파생변수 관련 함수**
*   **np.where(조건)** #조건에 맞는 인덱스를 호출
*   **dataframe.assign(조건, '조건충족시', '조건미충족시')** #조건에 따라 값을 할당

In [52]:
#np.where는 조건에 맞는 인덱스를 호출하는 함수
np.where(tt['fare']>=100)

(array([ 27,  31,  88, 118, 195, 215, 258, 268, 269, 297, 299, 305, 306,
        307, 311, 318, 319, 325, 332, 334, 337, 341, 373, 377, 380, 390,
        393, 435, 438, 498, 505, 527, 537, 544, 550, 557, 581, 609, 659,
        660, 679, 689, 698, 700, 708, 716, 730, 737, 742, 763, 779, 802,
        856]),)

In [53]:
#np.where(tt['fare']>=10이 조건
#조건을 충족하면 H, 아니면 L를
#fare_cls라는 행을 만들어서 저장
tt.assign(fare_cls=np.where(tt['fare']>=10, 'H', 'L'))

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,sex_oneshot,fare_100,fare_cls
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,0,107.2500,L
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,1,171.2833,H
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,1,107.9250,L
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,1,153.1000,H
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,0,108.0500,L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True,0,113.0000,H
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True,1,130.0000,H
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False,1,123.4500,H
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True,0,130.0000,H
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True,0,107.7500,L

In [54]:
tt.assign(fare_100 = lambda x : x['fare_100']/ x['fare'])

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,sex_oneshot,fare_100
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,0,14.793103
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,1,2.402853
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,1,13.618297
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,1,2.883239
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,0,13.422360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True,0,8.692308
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True,1,4.333333
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False,1,5.264392
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True,0,4.333333
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True,0,13.903226

*   **df.groupby(컬럼)**
*   **그룹이름.get_group(원하는 그룹)**
*   **df.groupby('그룹할컬럼1').agg(변수명 = ('기준컬럼1','기준컬럼을 볼 통계치'), ...)**

In [ ]:
grouped=tt.groupby('class')

#데이터값 확인
for i, j in grouped:
    print(i)
    print(j.head(10))

In [ ]:
grouped.get_group('First') #'class'로 묶인 것 중에 First인 것들만 호출

In [ ]:
groups=tt.groupby(['class','embarked'])
for i, j in groups:
    print(i)
    print(j.head(10))

In [ ]:
groups.mean() #묶인 것 별로 평균을 구함

In [61]:
groups.std()

<ipython-input-61-fab2e3ce2ad1>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  groups.std()

                 survived  pclass        age     sibsp     parch       fare  \
class  embarked
First  C         0.463515     0.0  14.243454  0.533998  0.601818  99.093935
       Q         0.707107     0.0   7.778175  0.707107  0.000000   0.000000
       S         0.495070     0.0  15.315584  0.649671  0.757581  58.811278
Second C         0.514496     0.0  10.192551  0.507300  0.874475  11.345067
       Q         0.577350     0.0  19.091883  0.000000  0.000000   0.000000
       S         0.500187     0.0  14.080001  0.611868  0.675200  13.630741
Third  C         0.488802     0.0  11.712367  0.594654  0.674027   4.871528
       Q         0.487520     0.0  16.807938  0.989380  0.678158   6.721677
       S         0.392701     0.0  12.110906  1.529408  0.954863  13.276609

                 adult_male     alone  sex_oneshot   fare_100
class  embarked
First  C           0.502933  0.502654     0.502933  99.093935
       Q           0.707107  0.000000     0.707107   0.000000
       S           0.492158  0.501591     0.486796  58.811278
Second C           0.514496  0.492592     0.507300  11.345067
       Q           0.577350  0.000000     0.577350   0.000000
       S           0.499701  0.495189     0.493069  13.630741
Third  C           0.495434  0.498015     0.480142   4.871528
       Q           0.503315  0.436051     0.501757   6.721677
       S           0.461462  0.475311     0.433217  13.276609

In [69]:
tt.groupby('class').agg(fare_sum=('fare', 'sum'), #class를 기준으로 그룹하여 fare의 sum을 구함
                        fare_mean=('fare', 'mean'),
                        fare_median=('fare', 'median'),
                        n_cnt=('fare', 'count'))

          fare_sum  fare_mean  fare_median  n_cnt
class
First   18177.4125  84.154687      60.2875    216
Second   3801.8417  20.662183      14.2500    184
Third    6714.6951  13.675550       8.0500    491

In [68]:
#1개의 컬럼에 여러 개의 통계치를 볼 때.
grouped.agg({'fare':['sum', 'mean', 'median', 'count']})

              fare
               sum       mean   median count
class
First   18177.4125  84.154687  60.2875   216
Second   3801.8417  20.662183  14.2500   184
Third    6714.6951  13.675550   8.0500   491

In [66]:
def min_max(x):
  return x.max()-x.min()

In [67]:
grouped.agg(min_max)

<ipython-input-67-dba9cc767255>:1: FutureWarning: ['sex', 'embarked', 'who', 'adult_male', 'deck', 'embark_town', 'alive', 'alone'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  grouped.agg(min_max)

        survived  pclass    age  sibsp  parch      fare  sex_oneshot  fare_100
class
First          1       0  79.08      3      4  512.3292            1  512.3292
Second         1       0  69.33      3      3   73.5000            1   73.5000
Third          1       0  73.58      8      6   69.5500            1   69.5500

## **데이터 병합**
*  **df.concat(데이터1, 데이터2, how='left', on='컬럼명'): **

    -덩어리로 합침

    -행으로 붙이는 것/열로 붙이는 것

*   **df.merge([데이터1, 데이터2, 데이터3,...], axis=0):**

    -join (left, right, outer)

In [72]:
#예시 데이터프레임 생성

test1=pd.DataFrame({'학회원번호': [1,2,3,4,5],
                    '학회원분반': ['python','SQL','R','데이터분석입문','데이터분석전처'],
                    })

test2= pd.DataFrame({'학회원번호':[1,2,3,4,5],
                    '벌점현황':[5,5,10,0,3]})

In [78]:
pd.merge(test1, test2, how='inner', on='학회원번호')
pd.merge(test1, test2, how='outer', on='학회원번호')
pd.merge(test1, test2, how='left', on='학회원번호')

   학회원번호    학회원분반  벌점현황
0      1   python     5
1      2      SQL     5
2      3        R    10
3      4  데이터분석입문     0
4      5  데이터분석전처     3

In [85]:
pd.concat([test1, test2], axis=0) #데이터프레임이 그대로 세로로 붙음

   학회원번호    학회원분반  벌점현황
0      1   python   NaN
1      2      SQL   NaN
2      3        R   NaN
3      4  데이터분석입문   NaN
4      5  데이터분석전처   NaN
0      1      NaN   5.0
1      2      NaN   5.0
2      3      NaN  10.0
3      4      NaN   0.0
4      5      NaN   3.0

In [86]:
pd.concat([test1, test2, test1, test1], axis=1) #데이터프레임이 그대로 가로로 붙음

   학회원번호    학회원분반  학회원번호  벌점현황  학회원번호    학회원분반  학회원번호    학회원분반
0      1   python      1     5      1   python      1   python
1      2      SQL      2     5      2      SQL      2      SQL
2      3        R      3    10      3        R      3        R
3      4  데이터분석입문      4     0      4  데이터분석입문      4  데이터분석입문
4      5  데이터분석전처      5     3      5  데이터분석전처      5  데이터분석전처

*  **df.컬럼명.value_counts()**: 변수를 카운팅
*   df.컬럼명.values_counts(normalize=True, False): 카운팅한 합을 1로 함 (전체대비 각 비율을 알 수 있음)
*   df.컬럼명.values_counts(ascending=True, False): 내림차순, 오름차순

In [88]:
tt.sex.value_counts()

male      577
female    314
Name: sex, dtype: int64

In [92]:
tt.sex.value_counts(normalize=True)

male      0.647587
female    0.352413
Name: sex, dtype: float64

In [90]:
tt.age.value_counts(ascending=True)

74.0     1
14.5     1
70.5     1
12.0     1
36.5     1
        ..
30.0    25
19.0    25
18.0    26
22.0    27
24.0    30
Name: age, Length: 88, dtype: int64